<div class="booyah-box col-10 offset-1 top">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png' %>
    </div>
  
    <div class="col-8">  
      <h1><%= @user.email %></h1>
      <br/>
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h3>Total Comments: <%= @user.comments.count %></h3>
      <h3>Total Reviews: <%= @user.comments.count %></h3>
    </div>

  </div>
  
  <div class="clear"></div>

</div>