<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Place Details</h1>
<<<<<<< HEAD
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
=======
    <%= simple_form_for @place do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <br />
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
>>>>>>> ba57df0f09eb9547d7039da286685d8f4516ffba
</div>